DARWIN_RDM_PROXY_URL=
DARWIN_RDM_AUTH_TYPE=api-key
DARWIN_RDM_CONSUMER_KEY=
RDG_DISRUPTIONS_BASE_URL=
RDG_DISRUPTIONS_CONSUMER_KEY=
RDG_DISRUPTIONS_USER_AGENT=TrainTicker/0.1
TFL_APP_ID=
TFL_APP_KEY=
TRAIN_TICKER_DAILY_SCHEDULE_BUCKET=
